.DS_Store
.vscode/
patch.code-workspace
*.pyc
.patch*
patch_code.egg-info/
build
dist/
Gemfile.lock
_site
.jekyll-cache/
.jekyll-metadata
patch/__version__.py
patch/_version.py
.venv/
.#*
.gitattributes
tmp.benchmarks/
.docker_bash_history
